@import './variables.less';
@import './scrollbar.less';
@import './overwrite.less';

:root{
  --vp-c-brand: @primary-color;
  --vp-c-brand-dark: black;
  --vp-button-brand-border: @common-border;
  --vp-button-brand-bg: @primary-color;
  --vp-button-brand-hover-border:@common-border;
  --vp-button-brand-hover-bg: lighten(@primary-color, 10%);
}
